name: Docker Build AdGuard Home

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 1"

env:
  TZ: Asia/Shanghai
  IMAGE_NAME: adguard
  IMAGE_TAGS: "adgh dnsproxy"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build the Docker image
        run: |
          CURRENT_PWD=$(pwd)
          for tag in ${IMAGE_TAGS}; do
            cd ${CURRENT_PWD}/images/${{ env.IMAGE_NAME }}/${tag}
            docker build . -f Dockerfile -t ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done

      - name: Login to Custom Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PASSWD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Push Docker Image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker push ghcr.io/dockenv/${{ env.IMAGE_NAME }}:${tag}
            docker push ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done
