name: Docker Build AeroSpike

on:
  workflow_dispatch:
  schedule:
    # Runs at 02:00 UTC on Mon.
    - cron: "0 2 * * 1"

env:
  TZ: Asia/Shanghai
  IMAGE_NAME: aerospike
  IMAGE_TAGS: "ce ee ce-5.7 ce-6.0 ce-6.1 ce-6.2 ce-6.3 ce-6.4 ce-7.0 ce-7.1 ce-7.2 ee-5.7 ee-6.0 ee-6.1 ee-6.2 ee-6.3 ee-6.4 ee-7.0 ee-7.1 ee-7.2 latest"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker build . -f images/${{ env.IMAGE_NAME }}/${tag}/Dockerfile -t ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done
      - name: Login to Docker Registry
        run: |
          docker login -u ${{secrets.DOCKER_USERNAME}} -p "${{ secrets.DOCKER_PASSWD }}" ${{ secrets.DOCKER_REGISTRY }}
      - name: Push Docker Image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker push ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done
