name: Docker Build Alpine Linux

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 1'

env:
  TZ: Asia/Shanghai
  IMAGE_NAME: alpine
  IMAGE_TAGS: 'latest edge 3.18 3.19 3.20 3.21 3.22 3.23'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker Image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker build . -f images/${{ env.IMAGE_NAME }}/${tag}/Dockerfile -t ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
            docker tag ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag} ghcr.io/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done

      - name: Login to Docker Container Registry
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p "${{ secrets.DOCKER_PASSWD }}" ${{ secrets.DOCKER_REGISTRY }}
          docker login -u ${{ secrets.GHCR_USER }} -p "${{ secrets.GHCR_TOKEN }}" ghcr.io

      - name: Push Docker Image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker push ghcr.io/dockenv/${{ env.IMAGE_NAME }}:${tag}
            docker push ${{ secrets.DOCKER_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done
