# 对于速度快直接 Pull 的放在这里, 避免文件太多
name: Docker Pull Container To Github Package

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 1"

env:
  TZ: Asia/Shanghai
  IMAGE_NAME: "acme caddy chromedriver elixir gitea geckodriver haproxy meilisearch memcached minio portainer rabbitmq rsync traefik unit varnish"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker Image
        run: |
          for name in ${IMAGE_NAME}; do
            docker build . -f images/${name}/latest/Dockerfile -t ${{ secrets.DOCKER_REGISTRY }}/dockenv/${name}:latest
          done

      - name: Login to Docker Registry
        run: |
          docker login -u ${{secrets.DOCKER_USERNAME}} -p "${{ secrets.DOCKER_PASSWD }}" ${{ secrets.DOCKER_REGISTRY }}

      - name: Push Docker Image
        run: |
          for name in ${IMAGE_NAME}; do
            docker push ${{ secrets.DOCKER_REGISTRY }}/dockenv/${name}:latest
          done
