name: Docker Build Alpine Linux

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 1'

env:
  TZ: Asia/Shanghai
  IMAGE_NAME: alpine
  IMAGE_TAGS: 'latest edge 3.18 3.19 3.20 3.21 3.22 3.23'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker Image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker build . -f images/${{ env.IMAGE_NAME }}/${tag}/Dockerfile -t ${{ secrets.CUSTOM_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done

      - name: Login to Docker Registry
        run: |
          docker login -u ${{ secrets.CUSTOM_DOCKER_USERNAME }} -p "${{ secrets.CUSTOM_DOCKER_PASSWD }}" ${{ secrets.CUSTOM_REGISTRY }}

      - name: Push Docker Image
        run: |
          for tag in ${IMAGE_TAGS}; do
            docker push ${{ secrets.CUSTOM_REGISTRY }}/dockenv/${{ env.IMAGE_NAME }}:${tag}
          done
